body a {
    text-decoration: none;
}

.container-fluid.vmHead {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headerLogo {
    width: 50px;
    margin-right: 10px;
}

.container-body {
    min-height: 500px;
}

.pageBox {
    margin-bottom: 30px;
}

.pageTitle:after {
    content: "";
    width: 150px;
    border-top: solid blue 3px;
    display: block;
}

.dataTables_wrapper {
    border: solid #cacaca 1px;
    padding: 30px;
}

.dataTables_wrapper > .row:nth-child(2) {
    min-height: 300px;
    border-bottom: solid #cacaca 1px;
    margin-bottom: 10px;
}

.dataTables_wrapper td,
.dataTables_wrapper th {
    border-bottom: solid #cacaca 1px;
}

.dataTables_wrapper tr:hover {
    background-color: #f0f0f0;
}

.breadcrumbs {
    border-bottom: solid #cacaca 1px;
    margin-bottom: 20px;
    display: flex;
}

.breadcrumbs .breadcrumb:not(:last-child):after {
    content: '>';
    margin-left: 8px;
    margin-right: 8px;
}
.actions a {
    text-decoration: none;
    margin-right: 10px;
}

.actions a .fa-trash {
    color: var(--bs-red);
}